*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, #0aa393, #0cb09f, #0fbeab, #11cbb8, #14d9c4);
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    height: 500px;
    width: 250px;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
}

.card-container,
.card-container::before,
.card-container::after {
    box-shadow: 0px 4px 5px 3px rgba(98,107,112,0.25);
}

.card-container::before,
.card-container::after {
  content: "";
  position: absolute;
  background-color: #eee;
  border-radius: 4px;

}

.card-container::before {
    width: calc(100% + 10px);
    height: calc(100% - 10px);
    left: -5px;
    top: 5px;
    z-index: -1;
}

.card-container::after {
    width: calc(100% + 20px);
    height: calc(100% - 20px);
    left: -10px;
    top: 10px;
    z-index: -2;
}

.card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #0fbeab;
}
.card-header__icon {
    width: 60px;
    height: 60px;
    background-image: url('./images/adalab-icon.png');
    background-size: cover;
    background-position: center;
}

.card-header__date {
    width: 65%;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 20px 20px;
    grid-template-areas: "day weekday"
                         "day month-year";
}

.day {
    grid-area: day;
    font-size: 36px;
    font-weight: 700;
    color: #0fbeab;
    margin: 0 15px;
}

.weekday {
    grid-area: weekday;
    font-size: 14px;
    font-weight: 700;
    color: #727677;
    text-transform: capitalize;
}

.month-year {
    grid-area: month-year;
    font-size: 14px;
    color: #727677;
    text-transform: capitalize;
}

.add-task-modal {
    display: none;
}

.--active {
    display: block;
}

.--crossed {
    text-decoration: line-through;
}

@media all and (min-width: 768px) {
    .card-container {
        width: 300px;
    }

    .card-header__date {
        width: 60%;
    }
}