*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.add-task-modal {
    display: none;
}

.--active {
    display: block;
}

.--crossed {
    text-decoration: line-through;
}